.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.combo-box .list-cell {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: #333333;
}

.combo-box .list-cell:hover {
    -fx-background-color: #e6e6e6;
}

.combo-box-base:showing {
    -fx-border-color: #999999;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}

.combo-box .list-view {
    -fx-padding: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
}
