.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

}

.column-header {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 1 0;
    -fx-padding: 5;
    -fx-font-family: Serif;
    -fx-font-size: 14;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #e6e6e6;
    -fx-border-color:  aqua;
}

.table-view .table-cell {
    -fx-padding: 5;
    -fx-text-fill: #333333;
}

.table-view .table-cell:selected {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #000000;
}